<h1> Hello, {{ name }}! </h1>


<p class = 'smalltext'> Here will be the classes that the user is a teacher of or has access to. </p>


<div class = 'container'>
    
    <form action = "/main" method = "POST">

        <button> Change Password </button>

    </form>

</div>


<style> 

body {background-color: rgb(63, 89, 85)}

h1 {color: white; text-align: center; font-family: 'Lucida Sans'} 

.smalltext {font-size: 15px; color: rgb(255, 253, 218); text-align: center; font-family: 'Lucida Sans'}

</style>