<h1> Hello, {{ name }}! </h1>

<div class = 'container'>
    <form action = "/" method = "POST">

        <label class = 'smalltext'> Username </label>

        <br>

        <input name = "username">

        <br><br>

        <label class = 'smalltext'> Password </label>

        <br>

        <input name = "password">

        <br><br><br>

        <button type = "submit"> Enter </button>

    </form>
</div>


<style> 

body {background-color: rgb(15, 44, 26)}

h1 {color: white; text-align: center; font-family: 'Lucida Sans'} 

.container {display: flex; justify-content: center; align-items: center;}

.smalltext {font-size: 15px; color: rgb(255, 253, 218); text-align: center; font-family: 'Lucida Sans'}

</style>